body{
	background-image:url(../img/back.gif)
}
#inputArea{
	width:80%;
	margin: 0 auto;
	background-color:#DDFFFF;
}
#fortuneResultArea{
	width:80%;
	margin: 0 auto;
	background-color:#DDFFFF;
}
#message{
	color:red;
	font-size:20px;
	font-weight:bold;
}
#money{
	data-rateit-value:0
}
